/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.tabs-verical .nav-link {
	border-radius: 5px;
	border-width: 1px;
	border-color: transparent;
	box-shadow: 0px 2px 2px 0px #0000001e;
    margin-bottom: 15px;
	background:white;
}
.tabs-verical .navbar-default .navbar-text {
	color: #ffffff;
}
.tabs-verical .nav-tabs>li.active>a, .tabs-verical .nav-tabs>.profile-posts li.active>a:focus, .tabs-verical .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-color: transparent;
}

