/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.tabs-verical .nav-link {
	border: 1px solid rgb(212, 210, 210);
	border-radius: 3;
    box-shadow: #74788c;
    margin-bottom: 10px;
}
.tabs-verical .navbar-default .navbar-text {
	color: #ffffff;
}
.tabs-verical .nav-tabs>li.active>a, .tabs-verical .nav-tabs>.profile-posts li.active>a:focus, .tabs-verical .nav-tabs>li.active>a:hover {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: rgb(221, 221, 221);
	border-bottom-color: transparent;
}

